<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/nav.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/agb.css">
  <script src="js/map.js" defer></script>
  
  <title>Über Uns</title>
</head>

<body>
  <header>
    <nav class="navbar position-sticky">
        <a href="" class="nav-branding">DEV.</a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="view/aboutUs.html" class="nav-link">Über uns</a>
        </li>
        <li class="nav-item">
            <a href="view/contactForm.html" class="nav-link">Kontakt</a>
        </li>
        
    </ul>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    </nav>
    
</header>
    <script src="../js/nav.js"></script>
    
        <h1>Allgemeine Geschäftsbedingungen</h1>
    
    
        <h2>1. Geltungsbereich</h2>
        <p>Diese Allgemeinen Geschäftsbedingungen (nachfolgend "AGB") gelten für alle Nutzerinnen und Nutzer (nachfolgend "Nutzer") der Webseite "Karte Koloniales Zürich" (nachfolgend "Webseite"). Mit der Nutzung der Webseite erkennt der Nutzer diese AGB an.</p>
        <h2>2. Leistungsbeschreibung</h2>
        <p>Die Webseite informiert über geschichtliche Themen von Zürich und bietet den Nutzern die Möglichkeit, selbst Stationen hinzuzufügen. Die Webseite stellt die Informationen und Inhalte auf Basis von öffentlich zugänglichen Quellen zusammen. Die Webseite übernimmt keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der Informationen und Inhalte, insbesondere nicht für die von Nutzern hochgeladenen Informationen.</p>
        <h2>3. Nutzung der Webseite</h2>
        <p>Die Webseite ist für die persönliche und nicht-kommerzielle Nutzung durch den Nutzer bestimmt. Der Nutzer verpflichtet sich, die Webseite und ihre Inhalte nicht missbräuchlich zu nutzen. Insbesondere verpflichtet sich der Nutzer, keine rechtswidrigen, belästigenden, diffamierenden oder sonstigen Inhalte zu veröffentlichen oder zu verbreiten. Die Webseite behält sich das Recht vor, Inhalte zu löschen oder den Zugang zu Nutzern zu beschränken, die gegen diese AGB oder geltendes Recht verstoßen.</p>
        <h2>4. Haftungsbeschränkung</h2>
        <p>Die Webseite übernimmt keine Haftung für die Richtigkeit, Vollständigkeit und Aktualität der Informationen und Inhalte, insbesondere nicht für die von Nutzern hochgeladenen Informationen. Die Webseite haftet nicht für Schäden, die durch die Nutzung der Webseite oder ihrer Inhalte entstehen, es sei denn, die Schäden wurden vorsätzlich oder grob fahrlässig verursacht. Die Webseite haftet nicht für Schäden, die durch technische Störungen oder Ausfälle, Unterbrechungen oder Fehler in der Datenübertragung oder sonstige technische Mängel entstehen.</p>
        <h2>5. Änderung der AGB</h2>
        <p>Die Webseite behält sich das Recht vor, diese AGB jederzeit zu ändern. Die geänderten AGB werden auf der Webseite veröffentlicht.</p>
        <h2>6. Datenschutz</h2>
        <p>Die Nutzung der Webseite unterliegt den Datenschutzbestimmungen, die auf der Webseite veröffentlicht sind.</p>

        <p>Zürich, den 6. Mai 2023</p>
    
    


    <footer>
      <nav>
        <ul>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
      </nav>
    </footer>
    
</body>
</html>