<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/nav.css" />
    <link rel="stylesheet" href="../css/privacy.css" />

    <title>Datenschutz</title>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <a href="" class="nav-branding">DEV.</a>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="../index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="stations.html" class="nav-link">Stationen</a>
          </li>
          <li class="nav-item">
            <a href="aboutUs.html" class="nav-link">Über uns</a>
          </li>
          <li class="nav-item">
            <a href="contactForm.html" class="nav-link">Kontakt</a>
          </li>
          <li class="nav-item">
            <a href="feedback.html" class="nav-link">Feedback</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <script src="../js/nav.js"></script>
    <div class="container">
      <h1>Datenschutzerklärung</h1>
      <p>
        Wir nehmen den Schutz Ihrer personenbezogenen Daten sehr ernst und
        halten uns an die geltenden datenschutzrechtlichen Bestimmungen,
        insbesondere an die Datenschutzgesetze der Schweiz. Im Folgenden möchten
        wir Sie darüber informieren, welche personenbezogenen Daten bei der
        Nutzung unserer Webseite erhoben werden und wie wir diese Daten
        verwenden.
      </p>
      <h2>Erhebung und Verwendung personenbezogener Daten</h2>
      <p>
        Wenn Sie uns über unsere Webseite Stationen vorschlagen, erheben wir
        folgende personenbezogene Daten von Ihnen: Titel, Beschreibung, Bild und
        Audio-Datei. Wir nutzen diese Informationen, um Ihre Vorschläge auf
        unserer Webseite zu veröffentlichen, damit andere Nutzer diese entdecken
        und sich darüber informieren können.
      </p>
      <p>
        Wir verwenden Ihre personenbezogenen Daten nur für den Zweck, für den
        Sie uns diese zur Verfügung gestellt haben. Wir geben Ihre Daten nicht
        an Dritte weiter, es sei denn, dies ist gesetzlich vorgeschrieben oder
        wir benötigen Ihre Daten zur Abwicklung des Zwecks, für den Sie uns
        diese zur Verfügung gestellt haben.
      </p>
      <h2>Sicherheit Ihrer Daten</h2>
      <p>
        Wir setzen technische und organisatorische Sicherheitsmassnahmen ein, um
        Ihre personenbezogenen Daten vor Verlust, Zerstörung, Manipulation und
        unberechtigtem Zugriff zu schützen. Wir verbessern unsere
        Sicherheitsmassnahmen kontinuierlich entsprechend dem technischen
        Fortschritt.
      </p>
      <h2>Ihre Rechte</h2>
      <p>
        Sie haben das Recht, Auskunft darüber zu verlangen, welche
        personenbezogenen Daten von uns über Sie gespeichert sind. Sie haben
        auch das Recht, die Berichtigung unrichtiger Daten sowie die Löschung
        Ihrer personenbezogenen Daten zu verlangen, sofern keine gesetzliche
        Aufbewahrungspflicht besteht. Darüber hinaus haben Sie das Recht, Ihre
        Einwilligung zur Verwendung Ihrer personenbezogenen Daten jederzeit zu
        widerrufen. Bitte wenden Sie sich hierfür an uns über die im Impressum
        angegebene Kontaktadresse.
      </p>
      <h2>Änderungen dieser Datenschutzerklärung</h2>
      <p>
        Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit zu
        ändern. Die jeweils aktuelle Version ist auf unserer Webseite verfügbar.
      </p>
    </div>

    <footer class="footer">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
          </li>
        </ul>
        <span class="navbar-text"> © 2023 - NO rights reserved </span>
      </nav>
    </footer>
  </body>
</html>
