<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/nav.css" />
    <link rel="stylesheet" href="../css/agb.css" />
  <script src="js/map.js" defer></script>
  
  <title>Quellen</title>
</head>

<body>
  <header>
    <nav class="navbar position-sticky">
      <a href="../index.html" class="nav-branding">Zurich</a>
      <ul class="nav-menu">
        <li class="nav-item">
          <a href="../index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="aboutUs.html" class="nav-link">Über uns</a>
        </li>
        <li class="nav-item">
          <a href="contactForm.html" class="nav-link">Kontakt</a>
        </li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>
  <script src="../js/nav.js"></script>
</header>
    
    <main>
      <h1>Quellen</h1>
    <h2>Villa Patumbah</h2>
    <h3>Bild</h3>
    <p>https://www.heimatschutzzentrum.ch/story-detail/villa-patumbah-und-park</p>
    <h3>Text & Audio</h3>
    <p>https://www.zh-kolonial.ch/stationen/villa-patumbah-2</p>
    
    <h2>Belvoirpark</h2>
    <h3>Bild</h3>
    <p>https://www.zuerich.com/sites/default/files/web_zuerich_natur_parks-und-gaerten_belvoirpark_01.jpg</p>
    <h3>Text</h3>
    <p>https://www.zh-kolonial.ch/stationen/belvoirpark</p>

    <h2>Bahnhof Wiedikon</h2>
    <h3>Bild</h3>
    <p>https://www.quartierverein-wiedikon.ch/_pics/1998/6_3.jpg</p>
    <h3>Text</h3>
    <p>https://www.zh-kolonial.ch/stationen/bahnhof-wiedikon</p>

    <h2>Gottfried Keller - Neumarkt 27</h2>
    <h3>Bild</h3>
    <p>https://lh3.googleusercontent.com/p/AF1QipNupYwmBtP3Jtvaq-Xmeyi4Mw_2BUvvI8W8wjTf=w1080-h608-p-no-v0</p>
    <h3>Text</h3>
    <p>https://www.zh-kolonial.ch/stationen/gottfried-kellers-geburtshaus</p>

    <h2>Peter-Hofstatt 6</h2>
    <h3>Bild</h3>
    <p>https://uploads-ssl.webflow.com/5f4207f7e75ff6b499c02f05/60b4f1de22d3ec45c71a67cf_st%20peterhofstatt-p-1080.jpeg</p>
    <h3>Text</h3>
    <p>https://www.zh-kolonial.ch/stationen/lavaterhaus-st-peter-hofstatt-6</p>   
    
    </main>
    <footer class="footer">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="privacy.html">Datenschutz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sources.html">Quellen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="agb.html">AGB</a>
          </li>
        </ul>
      </nav>
    </footer>
    
</body>
</html>